#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0);
  }
  
.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.sider{
  background:#2A2E30;
  height:100vh;
}

.dropdown{
  min-width: 20%;
  position: relative;
}

.layout {
  height:100vh;
  width: 100vw;
}

.form{
  width: 90%;
  height: 100%;
  position: absolute;
  margin-top: 10%;
}

.form-card{
  background-color: rgb(87, 95, 99);
  border-radius: 50px;
  border-color: rgb(146, 156, 161);
  box-shadow: 8px 16px 16px 8px rgba(0,0,0,0.3);
  transition: 0.3s;
  text-align: center;
  position:relative;
  align-items: center;
  max-height: 60vh;
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(100px);
  min-width: 400px;
  height: 90vh;
  min-height: 600px;
  width: 40vw;
  margin-left: 30vw;
  margin-right: 30vw;
}

.btn{
  background-color: green;
  border-color: green;
}

[title="Çocuk Seç"] {
  color: #DADADA !important;
  left:8%;
}

[title="Çocuk Wallet ID"] {
  color: #DADADA !important;
  left:10%;
}
[title="Çocuk Adı"] {
  color: #DADADA !important;
  left:10%;
}
[title="Gönderilecek Tutar"] {
  color: #DADADA !important;
  left:8%;
}
  