.baslik{
    display: flex;
    width: 1519px;
    position: relative; 
}
.arkaplan{
    width: 1519px;
    display: flex;
    position: relative; 
}

.logo{
 display: flex;
 position: relative;   
}

.hakkimizda, .iletisim, .metamask{
   left: 55%;
}

.giris{
    width: 20%;
    position: relative; 
    ;
}

.kayit{
width: 20%;
position: relative; 
}

.meta{
margin-left: 1738%;
}

.yazi{
        position: relative;
}

.arkaplan2{
        width: 1519px;
        position: relative; 
}

.yazi2{
font-size: 20px;
position: relative;
margin-bottom: 10%;
}

.hero{
    width: 35%;
    height: 35%;
    position: relative;
}

.yazi3, .yazi4, .yazi5{
    position:relative;
}

.icons{
    position: relative;
    
}
html, body{
    overflow-x: hidden;
}