

.btn-login{
    margin-top: 1vh;
}

[title="Adınız"] {
    color: #DADADA !important;
}

[title="Soyadınız"] {
    color: #DADADA !important;
}

[title="Wallet ID"] {
    color: #DADADA !important;
}
[title="E-posta Adresi"] {
    color: #DADADA !important;
}
[title="Telefon Numarası"] {
    color: #DADADA !important;
}