

.btn-login{
    margin-top: 1vh;
}

[title="Metamask Cüzdan Adresiniz"] {
    color: #DADADA !important;
}

[title="Adınız"] {
    color: #DADADA !important;
}

[title="Soyadınız"] {
    color: #DADADA !important;
}


[title="E-posta Adresi"] {
    color: #DADADA !important;
}
[title="Telefon Numarası"] {
    color: #DADADA !important;
}