#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
float: right;
margin: 16px 0 16px 24px;
}

.site-layout-background {
background:rgba(214, 214, 210, 1);
}

.layout {
height:100vh;
width: 100vw;
}



.send-money-container{
padding-left: 50%;
padding-right: 10%;
padding-top: 10%;
}

.send-money{
background: rgba(255, 235, 183, 0.8);
}

.centering{
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center
}



.center-the-button {
  
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.toplam-para-text {
  text-align: center;
  padding-top: 3vh;

}

.input-text {
  text-align: center;
  padding-top: 3vh;
}


.input {
  padding-top: 3vh;
  text-align: center;
}

.para-girisi {
  
  width: 350px;
}

.toplam-para-input {
  text-align: center;
  padding-top: 3vh;
}

.toplam-para {
  width: 350px;
}