.float-container {
    padding: 5.5vh;
}
.mid-container {
    position: fixed;
    margin-left: 10vw;
}
.bottom-container {
    position: fixed;
    margin-left: 10vw;
}
.float-child-right {
    text-align: center;
    margin-left: 14vw;
    margin-top: 5.8vh;
}


.btn {
    margin-top: 17.5vh;
    margin-left: 6.2vw;
}

.btn-update{
    border-radius: 30px;
    margin-top: 2.2vh;
    
}
.btn-delete{
    border-radius: 30px;

}
.label-style{
    text-align: center;
}

[title="Çocuk İsmi"] {
    color: #DADADA !important;
}

[title="Çocuk Soyadı"] {
    color: #DADADA !important;
}

[title="Çocuğun Wallet ID'si"] {
    color: #DADADA !important;
}
[title="Çocuğun Doğum Tarihi"] {
    color: #DADADA !important;
}