.float-container {
    padding: 15vh;
}

.float-child-left {
    width: 45%;
    float: left;
    padding: 45px;
    background-color: blanchedalmond;
    border-radius: 50px;
}
.float-child-right {
    width: 45%;
    float: left;
    padding: 45px;
    background-color: blanchedalmond;
    border-radius: 50px;
    margin-bottom: 100px;
    margin-left: 5vw;
}

.btn-update{
    border-radius: 30px;
    
}
.btn-delete{
    border-radius: 30px;

}
.label-style{
    text-align: center;
}