
.header {
    display: flex;
}




.logo {
    margin-left: -30px;
}


.arayuz {
    padding-top: 70px;
}

.logo-gif {
    margin-top: 7px;
    margin-left: 1330px;
}

.header-text{
    margin-top: 7px;
    margin-left: -811px;
}

