

.error-pic {
    padding-top: 1px;
    text-align: center;
}

.team-name {
    padding-left: 35px;
    padding-top: 35px; 
}

.text {
    padding-top: 80px;
    text-align: center;
}

.button {
    text-align: center; 
}

.go-back {
    background-color: #2A2E30;
    border: 3px solid #2A2E30;
    text-align: center;
}

